# playframework
samples-and-tests/pushplay-app/eclipse
tmp
test-result
out
logs
server.pid
*.ser
deploy/*.jar
*.pyc
.DS_Store
.project
.settings
.classpath
/eclipse
/dist
lib
/modules
samples-and-tests/pushplay-app/modules
