#{extends 'main.html' /}

#{set title:'Home' /}

<script>

	Pusher.host = "localhost"; // change to your host
	Pusher.ws_port = 9000; // change to the port Play! is started on
	
	var thingChannel;
	$(document).ready(function() {
		var pusher = new Pusher('foo'); // Replace with your app key in application.conf
		pusher.bind('pusher:subscription_succeeded', function(data) {
		    updateContainer('subscribed!');
		    thingChannel.trigger('client-talk', {'message': 'auto-message'});
		});
		
		thingChannel = pusher.subscribe('private-messages');
		
		thingChannel.bind('client-talk', function(data) {
		    updateContainer(data.message);
		});
	});
	
	function updateContainer(msg) {
	   $('#container').append('<div class="update">' + msg + '</div>');
	}
	
	function triggerFromInput() {
	   thingChannel.trigger('client-talk', {'message': $('#message').val()});
	}

</script>

<h2>PushPlay!</h2>
</br>
<input type='text' id='message'></input> <input type="submit" onclick='javascript:triggerFromInput();' value="Send Message">
<div id="container"></div>